__pycache__/
.vscode/

/20[0-9][0-9]/*
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][ab]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][ab][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][ab][xz][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][ab][xz][xz][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][xz][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/[0-2][0-9][xz][xz][xz]_*.py
!/20[0-9][0-9]/day[0-2][0-9]_*/README.md
